@model Govt.Agenct.DAL.Model.AgencyInfo

@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<form asp-action="Create">
    <div class="row">
        <h4>PropertyInfo</h4>
        <hr />
        <div class="col-md-12 row borders">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Country</label>
                    <select class="col form-control form-group" id="CountryList" asp-items="@ViewBag.Countries">
                        <option>Select Country</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="OfficePhone" class="control-label"></label>
                    <input asp-for="OfficePhone" class="form-control" />
                    <span asp-validation-for="OfficePhone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">State</label>
                    <select class="col form-control form-group" id="StateList">
                        <option value="-1">Select State</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-8">
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">City</label>
                    <select class="col form-control form-group" id="CityList">
                        <option>Select City</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="GovtImage" class="control-label"></label>
                    <div class="mb-3">
                        <input class="form-control" asp-for="GovtImage" id="formFile">
                    </div>
                    <span asp-validation-for="GovtImage" class="text-danger"></span>
                </div>
            </div>
        </div>
        <h4>Agency Info</h4>
        <hr />
        <div class="col-md-12 row borders">
            <div class="row col-md-8">
                <div class="form-group col-md-6">
                    <label class="control-label">Agency Type</label>
                    <select id="type" class="form-control" asp-items="@ViewBag.AgencyTypes">
                        <option>Select Type</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check col-md-4">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Broucher" /> @Html.DisplayNameFor(model => model.Broucher)
                    </label>
                </div>
                <div class="form-group form-check col-md-4">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AidOrganization" /> @Html.DisplayNameFor(model => model.AidOrganization)
                    </label>
                </div>
                <div class="form-group form-check col-md-4">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="BroucherCopy" /> @Html.DisplayNameFor(model => model.BroucherCopy)
                    </label>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-8">
                <div class="form-group">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DocumentAttachment" class="control-label"></label>
                    <input asp-for="DocumentAttachment" class="form-control" />
                    <span asp-validation-for="DocumentAttachment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-info col-md-5" asp-controller="Home" asp-action="Index">Cancel</a>
                    <input id="mid" type="submit" value="Create" class="col-md-5 col-md-offset-6 btn btn-info" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
      $(document).ready(function () {
        $("#CountryList").change(function () {
            var countryId = $(this).val();
            $.getJSON("../State/LoadStates", { countryId: countryId },
                function (classesData) {
                    var select = $("#StateList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select State"
                    }));
                    $.each(classesData, function (index, itemData) {
                        console.log(itemData);
                        select.append($('<option/>', {
                            value: itemData.value,
                            text: itemData.text
                        }));
                    });
                });
        });
    });
     $(document).ready(function () {
        $("#StateList").change(function () {
            var stateId = $(this).val();
            $.getJSON("../City/LoadCities", { stateId: stateId },
                function (classesData) {
                    var select = $("#CityList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select City"
                    }));
                    $.each(classesData, function (index, itemData) {
                        console.log(itemData);
                        select.append($('<option/>', {
                            value: itemData.value,
                            text: itemData.text
                        }));
                    });
                });
        });
    });
</script>
