@model Govt.Agency.DAL.Model.AgencyInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Agency Info</h1>

<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">City</label>
                <select asp-for="City" class="col form-control form-group" asp-items="@ViewBag.Cities">
                    <option>Select City</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select asp-for="Country" class="col form-control form-group" id="CountryList" asp-items="@ViewBag.Countries">
                    <option>Select Country</option>
                </select>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">State</label>
                <select asp-for="State" class="col form-control form-group" asp-items="@ViewBag.States">
                    <option value="-1">Select State</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficePhone" class="control-label"></label>
                <input asp-for="OfficePhone" class="form-control" />
                <span asp-validation-for="OfficePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GovtImage" class="control-label"></label>
                <input asp-for="GovtImage" class="form-control" />
                <span asp-validation-for="GovtImage" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Agency Type</label>
                <select asp-for="Type" id="type" class="form-control" asp-items="@ViewBag.AgencyTypes">
                    <option>Select Type</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group form-check ckbtn">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Broucher" /> @Html.DisplayNameFor(model => model.Broucher)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AidOrganization" /> @Html.DisplayNameFor(model => model.AidOrganization)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BroucherCopy" /> @Html.DisplayNameFor(model => model.BroucherCopy)
                </label>
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
     <input type="submit" value="Save" class="btn btn-info" />
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
