@model IEnumerable<Govt.Agency.Services.ViewModel.vmCity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                <a style="color:#5cb85c" class="fa-lg bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.Id"></a> |
                <a style="color:#0275d8" class="fa-lg bi bi-collection-fill" asp-action="Details" asp-route-id="@item.Id"></a> |
                <a style="color:#d9534f" class="fa-lg bi bi-trash-fill" asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
